body {
  background-color: rgb(163, 163, 128);
  color: #333;
}

h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}

form {
  background-color: rgb(215, 206, 147);
  padding: 40px;
  box-shadow: 0 20px 50px rgba(239, 235, 224, 0.4);
  display: flex;
}

.instructions {
  padding: 15px;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 40px;
}

.submit-btn {
    border: none;
    padding: 20px;
    color: black;
    background-color: rgb(239, 235, 224);
    border-radius: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}
